<h1 class="animated fadeIn fast">
    sobre Comic App
</h1>
<hr>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur a laboriosam deserunt nulla officia consectetur vero labore, quaerat, minus nemo molestias voluptates quos! Molestias vel animi ex officiis assumenda necessitatibus.
</p>