<div class="h-100 p-5 bg-body-tertiary border rounded-3 animated fadeIn fast">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Comic App</h1>
    <p class="col-md-8 fs-4">Esta es una aplicacion de comics</p>
    <button class="btn btn-primary btn-lg" type="button">Example button</button>
  </div>
</div>
