<div class="col" >
    <div class="card animated fadeIn fast">
      <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
      <div class="card-body">
        <h5 class="card-title"> {{ heroe.nombre }} </h5>
        <p class="card-text"> {{ heroe.bio | slice:0:100 }} </p>
        <p class="card-text"><small class="text-body-secondary"> {{ heroe.aparicion }} </small></p>
          <div class="d-grid gap-2">

            <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary"> Ver más </a> -->
            <button (click)="verHeroe()" type="button" class="btn btn-outline-primary ">Ver Más</button>
          </div>
          
      </div>
    </div>
</div>