<div class="row row-cols-1 row-cols-md-3 g-4">
  <!--  -->
  <!-- 
    todo en ves de emitir un evento comun como click o submit usamos nuestro propio evento que es (heroeSeleccionado) que previamente creamos para escuchar un vento
    todo dentro de nuestro evento propio mandamos la funcion que queremos escuchar y colocamos $event forsosamente para resivir el evento que estamos mandando desde (heroeSeleccionado)
   -->
  <app-heroes-tarjeta (heroeSeleccionado)="verHeroe( $event )"  [heroe]="foo" [index]="i" *ngFor="let foo of heroes; let i = index"></app-heroes-tarjeta>
</div>