
<div class="row animated fadeIn fast" *ngIf="heroe.length == 0">
    <div class="col-md-12">
          <div class="alert alert-danger d-flex align-items-center justify-content-center" role="alert">
            <div>
                No se encontro ningun heroe con el termino <strong>{{ termino | uppercase }}</strong>
            </div>
          </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  
  <app-heroes-tarjeta [heroe]="foo" [index]="foo.idx" *ngFor="let foo of heroe;"></app-heroes-tarjeta>
    
  </div>