<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img src="assets/img/A-64.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active"  aria-current="page" [routerLink]="['home']">Home</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLinkActive="active"  [routerLink]="['heroes']">Heroes</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLinkActive="active" [routerLink]="['about']">Abouts</a>
        </li>
        
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" (keyup)="buscarHeroe(buscarTexto.value)" #buscarTexto>
        <button (click)="buscarHeroe(buscarTexto.value)" class="btn btn-outline-primary" type="button">Buscar</button>
      </form>
    </div>
  </div>
</nav>
