<div class="row animated fadeIn fast">

    <h3>{{ heroe.nombre | uppercase }} <small class="text-body-secondary"> ( {{ heroe.aparicion | date:'y' }} ) </small></h3> 
    <hr>
  <div class="col-md-4">
    <div class="card" style="width: 100%;">
      <img [src]="heroe.img" class="card-img-top img-fluid" [alt]="heroe.nombre">
      <div class="card-body">
        <div class="d-grid gap-2">

          <a [routerLink]="['/heroes']" class="btn btn-outline-danger"> Regresar </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        {{ heroe.nombre }}
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p> {{ heroe.bio }} </p>
          <footer class="blockquote-footer">
            <img *ngIf="heroe.casa === 'DC'" src="assets/img/dc.png" [alt]="heroe.casa" class="imgCasa">
            <img *ngIf="heroe.casa === 'Marvel'" src="assets/img/marvel.png" [alt]="heroe.casa" class="imgCasa">
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

</div>
